# generated .batch files
*.batch

# python files
*.pyc
*.egg-info*
*/dist*
*dist/*

*messages_pb2.py*

*.log.INFO.*
*.log.WARNING.*
*.log.ERROR.*
*.batch

*\#*\#*
*~

build*

/src/python/.idea/*

# pytest temp files
/python/build/*
/python/.cache/*

# MAC OS temp files
*.DS_Store

# bigartm logs
*bigartm.ERROR
*bigartm.INFO
*bigartm.WARNING
